<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>
    <link rel="stylesheet" href="/css/messenger/messenger_chatroom.css">
</head>
<body>
<div class="messenger_wrap">
    <img src="/images/messenger/temp_messenger_img.png" alt="채팅창아이콘" class="messenger_logo">
    <div class="chat_main">
        <div class="chat_header">
            <img src="/images/messenger/temp_messenger_img.png" alt="채팅방프로필" class="chat_header_1">
            <div class="chat_header_2">
                <div class="chat_title">Witty Wave 공지방</div>
                <div class="chat_member_count">
                    <img src="/images/messenger/member_count.png" alt="인원">
                    <span>134</span>
                </div>
            </div>
            <div class="chat_additional">
                <img src="/images/messenger/member_invite.png" alt="초대">
                <img src="/images/messenger/chat_search.png" alt="검색">
                <img src="/images/messenger/chat_option.png" alt="설정">
            </div>
            <img src="/images/messenger/exit_dark.png" alt="닫기" class="exit">
        </div>
        <div class="chat_body">
            <div class="chat_body_text">
                채팅 내역 확인하는 공간
            </div>
            <div class="chat_body_write_wrap">
                <textarea class="chat_body_write"></textarea>
                <div class="chat_body_write_button_wrap">
                    <input type="button" value="전송" class="submit">
                    <input type="button" value="사진전송" class="hidden_photo_button">
                    <img src="/images/messenger/temp_photo.png" alt="" class="photo">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>