<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>
    <link rel="stylesheet" href="/css/messenger/messenger_option.css">
</head>
<body>
<div class="messenger_wrap">
    <img src="/images/messenger/temp_messenger_img.png" alt="채팅창아이콘" class="messenger_logo">
    <div class="messenger_main">
        <div class="messenger_header">
            <div class="messenger_controls_section">
                <img src="/images/messenger/min.png" alt="최소화">
                <img src="/images/messenger/max.png" alt="확대(임시)">
                <img src="/images/messenger/exit.png" alt="닫기">
            </div>
            <div class="messenger_sub_header">
                옵션
            </div>
        </div>
        <hr>
        <div class="messenger_body">
            <div class="messenger_body_1">
                <label>미니알림 기능</label>
                <input type="checkbox">
            </div>
            <div class="messenger_body_2">
                <span>테마 선택</span>
                <div class="theme_wrap">
                    <div class="theme_1">
                        <input type="checkbox">
                    </div>
                    <div class="theme_2">
                        <input type="checkbox">
                    </div>
                    <div class="theme_3">
                        <input type="checkbox">
                    </div>
                    <div class="theme_4">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="button" value="적용하기" class="apply">
            </div>
        </div>
    </div>
</div>
</body>
</html>