<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/messenger/messenger_main.css">
</head>
<body>
<div class="messenger_wrap">
    <img src="/images/messenger/temp_messenger_img.png" alt="채팅창아이콘" class="messenger_logo">
    <div class="messenger_main">
        <div class="messenger_header">
            <div class="messenger_controls_section">
                <img src="/images/messenger/min.png" alt="최소화">
                <img src="/images/messenger/max.png" alt="확대(임시)">
                <img src="/images/messenger/exit.png" alt="닫기">
            </div>
            <div class="messenger_sub_header">
                <div class="messenger_main_search">
                    <input type="text" class="search_text" placeholder="Search">
                    <input type="button" class="search_button">
                    <img src="/images/messenger/messenger_search.png" alt="검색" class="search_img">
                </div>
                <img src="/images/messenger/messenger_create.png" alt="채팅방만들기">
                <img src="/images/messenger/messenger_option.png" alt="설정">
            </div>
        </div>
        <div class="messenger_body">
            <div class="chat_list">
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정" style="display:none">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
                <div class="chat_info">
                    <div class="chat_info_1">
                        <img src="/images/messenger/chat_profile.png" alt="채팅방프로필" class="chat_img">
                        <div class="chat_unread_count">
                            1
                        </div>
                    </div>
                    <div class="chat_info_2">
                        <span>마케팅팀</span>
                        <img src="/images/messenger/tack.png" alt="고정">
                        <span class="chat_info_people">5</span>
                    </div>
                    <div class="chat_info_3">
                        오후 2:25
                    </div>
                    <div class="chat_info_4">
                        <img src="/images/messenger/temp_photo.png" alt="사진">
                        <span>사진을 보냈습니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>