<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/messenger/messenger_main.css">
</head>
<body>
<div class="messenger_wrap">
    <img src="/images/messenger/temp_messenger_img.png" alt="채팅창아이콘" class="messenger_logo">
    <div class="messenger_main">
        <div class="messenger_header">
            <div class="messenger_controls_section">
                <img src="/images/messenger/min.png" alt="최소화">
                <img src="/images/messenger/max.png" alt="확대화(임시)">
                <img src="/images/messenger/exit.png" alt="닫기">
            </div>
            <div class="messenger_sub_header"></div>
        </div>
        <div class="messenger_body"></div>
    </div>
</div>
</body>
</html>