<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/approval/awaiting_list.css">
    <title>represent list</title>
    <link rel="stylesheet" href="/css/main_layout.css"><!--body와 .main용-->
    <link rel="stylesheet" href="/css/approval/approval_side.css"><!--body와 .main용-->
    <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>
</head>
<body>
<div class="main">
    <th:block th:include="/layouts/sidemenu"/>
    <th:block th:include="/approval/approval_side.html"/>
    <section class="awaiting_list_section">
    <div class="awaiting_title_section">
        <span class="awaiting_title">대리 결재</span>
        <select class="doc_search-options">
            <option value="search_by_title">제목</option>
            <option value="search_by_name">이름</option>
        </select>
        <div class="doc_search_section">
            <input type="text" class="doc_search" placeholder="검색어를 입력해주세요.">
            <img class="search_icon" src="/images/approval/search.png"/>
        </div>
    </div>

    <div class="awaiting_list_content">
        <table style="text-align: left;" class="awaiting_list">
            <thead>
            <tr>
                <th>분류</th>
                <th>제목</th>
                <th>기안자</th>
                <th>기안 일자</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>SW 사용 신청서</td>
                <td>
                    <a th:href="@{/approval/recieved_doc_detail}" class="go_to_doc_detail">
                        [개발 1팀] 신규 입사자 소프트웨어 사용 신청서</a>
                    </td>
                <td>정지섭</td>
                <td>2024.01.05</td>
                <td>결재 대기</td>
            </tr>

            <tr>
                <td>휴가 신청서</td>
                <td>[개발 1팀] 휴가 신청서</td>
                <td>김성민</td>
                <td>2024.01.09</td>
                <td>결재 대기</td>
            </tr>
            </tbody>
        </table>
        <div class="awaiting_list_footer">
            <input type="button" value="<<">
            <input type="button" value="<">
            <input type="button" value="1">
            <input type="button" value="2">
            <input type="button" value="3">
            <input type="button" value="4">
            <input type="button" value="5">
            <input type="button" value="6">
            <input type="button" value="7">
            <input type="button" value="8">
            <input type="button" value="9">
            <input type="button" value="10">
            <input type="button" value=">">
            <input type="button" value=">>">
        </div>
    </div>
    </section>
</div>
</body>
</html>