<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/approval/sw_form.css">
    <title>sw form</title>
    <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>
</head>
<body>
    <section class="form_section">
        <div class="form_body">
            <div class="form_title_section">
                <div class="form_title">소프트웨어 사용 신청서</div>
            </div>
            <div class="form_table" style="display:table;">
                <div style="display:table-row">
                    <div class ="A" style="display:table-cell">제목</div>
                    <div class ="B" style="display:table-cell">
                        <input class="input_box" type="text">
                    </div>
                </div>

                <div style="display:table-row">
                    <div class ="A" style="display:table-cell">프로그램 종류</div>
                    <div class ="B" style="display:table-cell">
                        <input class="input_box" type="text">
                    </div>
                </div>

                <div style="display:table-row">
                    <div class ="A" style="display:table-cell">용도</div>
                    <div class ="B" style="display:table-cell">
                        <input class="input_box" type="text">
                    </div>
                </div>

                <div style="display:table-row">
                    <div class ="A" style="display:table-cell">시행 일자</div>
                    <div class ="B" style="display:table-cell">
                        <input type="date" id="start-date"  class="inputbox">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>