<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>
    <link rel="stylesheet" href="/css/project/boards_detail_main_layout.css"><!--body와 .main용-->
    <link rel="stylesheet" href="/css/project/boards_detail_section.css"><!--section 용-->
    <!--toast ui edtior style.-->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body>
<div class="main">
    <!--sidemenu-->
    <th:block th:include="/layouts/sidemenu"/>
    <!--sidemenu-->
    <!--section-->
    <section class="project_boards_section">
        <div class="project_boards_header">
            <div>&lt;</div>
            <div class="project_boards_title">프로젝트 게시판</div>
        </div>
        <table class="project_boards_body">
            <tr>
                <td class="project_boards_element_1">
                    <table>
                        <tr class="project_boards_element_1_row_1">
                            <th>
                                제목
                            </th>
                            <td>
                                <input type="text" placeholder="제목부분">
                            </td>
                        </tr>
                        <tr class="project_boards_element_1_row_2">
                            <th>
                                <div>
                                    설명
                                </div>
                            </th>
                            <td>
                                <textarea placeholder="설명부분"></textarea>
                            </td>
                        </tr>
                        <tr class="project_boards_element_1_row_3">
                            <th>
                                작성일
                            </th>
                            <td>
                                <input type="date">
                            </td>
                        </tr>
                        <tr class="project_boards_element_1_row_3">
                            <th>
                                수정일
                            </th>
                            <td>
                                <input type="date">
                            </td>
                        </tr>
                        <tr class="project_boards_element_1_row_3">
                            <th>
                                마감기한
                            </th>
                            <td>
                                <input type="date">
                            </td>
                        </tr>
                        <tr class="project_boards_element_1_row_4">
                            <th>
                                상태
                            </th>
                            <td>
                                <select>
                                    <option value="">보류</option>
                                    <option value="">진행중</option>
                                    <option value="">완료</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="project_boards_element_1_row_4">
                            <th>
                                진행도
                            </th>
                            <td>
                                <select>
                                    <option value="">낮음</option>
                                    <option value="">중간</option>
                                    <option value="">높음</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input class="project_boards_info_modify" type="button" value="수정하기"/>
                </td>
                <td rowspan="2" class="project_boards_element_2">
                    <div class="project_boards_comment_wrap">
                        <div class="project_boards_comment_body">
                            1
                        </div>
                        <div class="project_boards_comment_footer">
                            <div id="editor"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="project_boards_element_3">
                    <div>
                        <div class="project_boards_invite">
                            <span>프로젝트 참여자</span>
                            <input type="button" value="초대하기">
                        </div>
                        <div class="project_boards_member_search">
                            <input type="text">
                            <span class="project_boards_member_search_button">
                                <input type="button" value="검색" class="hidden_input">
                                <span>검색</span>
                                <img src="/images/project/search_button.png" alt="검색">
                            </span>
                        </div>
                        <div class="project_boards_member_list">
                            <table>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="member_list_img_and_name">
                                            <img src="/images/project/temp_profile_img.png" alt="멤버사진">
                                            <span>OOO</span>
                                        </div>
                                        <div class="member_list_dept_and_position">
                                            <span>개발본부</span>
                                            <span>팀장</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <!--section-->
</div>


<!--토스트 ui-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const Editor = toastui.Editor;

    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '200px',
        initialEditType: 'markdown',
        previewStyle: 'tab'
    });

    editor.getMarkdown();
</script>
</body>
</html>