<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 결재 문서 승인</title>
    <link rel="stylesheet" href="/css/attendance/approvalPayment.css">
</head>
<body>
    <div class="main">
        <th:block th:include="/layouts/sidemenu"/>
        <th:block th:include="/attendance/sidemenu2"/>

        <div class="main2">
            <span class="main-title">내 결재 문서</span>
            <div class="bar"></div>
            <div class="filter-area">
                <div class="box-area">
                    <a th:href="@{/attend/payment-waiting}" class="waiting-box"><div>대기</div></a>
                    <a th:href="@{/attend/payment-approval}" class="approval-box"><div>승인</div></a>
                    <a th:href="@{/attend/payment-reject}" class="reject-box"><div>반려</div></a>
                </div>

                <div class="bar2"></div>
            </div>
            <div class="list-commute-area">
                <table style="border-collapse: collapse; font-size: 16px; width: 1200px;">
                    <tr class="list-commute-detail" style="background-color: #F5F5F5;" >
                        <td class="list-commute-detail">문서번호</td>
                        <td class="list-commute-detail">신청기간</td>
                        <td class="list-commute-detail">종류</td>
                        <td class="list-commute-detail">신청자</td>
                        <td class="list-commute-detail">소속</td>
                        <td class="list-commute-detail">결재일시</td>
                    </tr>
                    <tr class="list-commute-detail">
                        <td class="list-commute-detail">휴가-202301-00002</td>
                        <td class="list-commute-detail">2023-01-05(금)~2023-01-05(금)</td>
                        <td class="list-commute-detail">연차-오후 반차</td>
                        <td class="list-commute-detail">홍길동사원</td>
                        <td class="list-commute-detail">마케팅팀</td>
                        <td class="list-commute-detail">
                            01-02 10:12
                            <button th:onclick="openPopup()">상세보기</button>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- 페이징 -->
            <div class="paging-po"> << < 1  2  3  4  5 > >></div>

        </div>
    </div>
    
    <!-- 상세보기 팝업 창 서류 불러오기 -->
    
    <div id="popup">
        <div id="close-btn" onclick="closePopup()">닫기</div>
    
    </div>



    <script>

        function openPopup() {
            // 팝업 열기
            document.getElementById('popup').style.display = 'block';
        }

        function closePopup() {
            // 팝업 닫기
            document.getElementById('popup').style.display = 'none';
        }



    </script>

</body>
</html>