    <link rel="stylesheet" href="/css/attendance/attend_sidemenu2.css"> <!--.sidemenu2 용-->
<div class="sidemenu2">
    <div class="sidemenu2_area">
        <div class="sidemenu2_title">근태 관리</div>
        <ul>
            <li><a th:href="@{/attend/commute-main}">내 근태 현황</a></li>
            <li><a th:href="@{/attend/commute-list}">내 출퇴근 내역</a></li>
            <li><a th:href="@{/attend/team-commute-list}">팀원 출퇴근 현황</a></li>
            <ul>
                <div>근태 문서</div>
                <li><a th:href="@{/attend/payment-waiting}">내 결재 문서</a></li>
                <li><a th:href="@{/attend/my-waiting}">내 신청 문서</a></li>
            </ul>

        </ul>
    </div>
</div>

<!-- -->