.sidemenu2 {
    width: 245px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #606060;
    background-color: #FFFFFF;
}

.mypage_name {
    position: relative;
    top: 0;
    left: 7px;
    width: calc(100% - 14px);
    height: 100%;
    /*background-color: #FFFFFF;*/
    background-color: #D9D9D9;

    text-align: center;
}

.mypage_name2 {
    color: #414141;
    margin: 60px 0px;
    font-size: 24px;

}

.sidemenu2 ul {
    list-style-type: none;
    padding-inline-start: 25.5px;
    margin: 0px auto;
}

.sidemenu2 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.sidemenu2 ul li div {
    font-size: 20px;
    text-align: center;
}

.sidemenu2 ul li:hover {
    background-color: #fa9a85;
}

.sidemenu2 ul li:hover div {
    color: white;
}

/*이거 메인페이지 섹션 css임*/
/*.mypage_section{*/
/*    width: 100%;*/
/*    display: grid;*/
/*    grid-column: auto;*/
/*}*/

.mypage_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-content{
    height:1080px;
    text-align: center;
}

.mypage_content {
    display: flex;
    /* margin-left: 326px; 사이드바의 너비만큼 여백 설정 */
    margin-top: 30px;
    padding: 20px; /* 내용에 여백 추가 (선택사항) */
    box-sizing: border-box; /* 패딩과 경계 상자 크기 포함 */
    flex-direction: column;

}

.mypage_info{
    /*display: grid;*/
    background-color: #FFBE98;
    width: 400px;
    height: 980px;
    padding-top: 100px;
    text-align: center;
}

.mypage_info2{
    padding-top: 50px;
    margin-left: 30px;
    text-align: center;
}

.mypage_info2 > div {
    display: inline-block;
    margin-right: 30px; /* 각 항목 사이의 간격을 조절할 수 있습니다. */
}

/*.myinfo_update{*/
/*    display: flex;*/
/*}*/

.myinfo_update {
    display: flex;
    width: 925px;
    justify-content: center;
    background-color: #F5F5F5;
}

.myinfo_chart{
    margin-top: 200px;
}

.myinfo_chart input {
    width: 400px;
    height: 30px;
    font-size: 25px;
}

.myinfotext{
    /*margin-top: 50px;*/
    margin-bottom: 50px;
    display: flex;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    justify-content: center;
}

.update_btn{

    margin-top: 20px;
}

.update_btn2{
    background-color: #FFBE98;
    width: 100px;
    height: 30px;
}