<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidemenu">
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <div class="company_name">관리자</div>
    <div class="sidemenu_list">
        <ul>
            <li>
                <div onclick="window.location.href='/admin-mail'">메일 관리</div>
            </li>
            <li>
                <div>근태 관리</div>
            </li>
            <li>
                <div onclick="window.location.href='/admin-group'">조직 관리</div>
            </li>
            <li>
                <div onclick="window.location.href='/admin-approval'">결재 관리</div>
            </li>
        </ul>
    </div>
    <div class="working_status_wrap">
        <table class="working_status">
            <tr class="working_status_row1">
                <td class="status_title" colspan="2">
                    <div>
                        <span>나의 상태</span>
                    </div>
                </td>
            </tr>
            <tr class="working_status_row2">
                <td class="status_profile">
                    <div>
                        <img src="/images/profile_example/ellipse_2.png" alt="프로필 이미지">
                    </div>
                </td>
                <td class="status_name_and_team">
                    <div>
                        <span class="status_name_text">관리자</span>
                        <img id="status_img" src="" alt="상태이미지">
                    </div>
                    <br>
                    <span class="status_team_text">관리부 / 관리팀</span>
                </td>
            </tr>
            <tr class="working_status_row3">
                <td class="select_status" colspan="2">
                    <select id="status_dropdown">
                        <option value="none" selected>근무 상태를 선택하세요.</option>
                        <option value="office">오피스 근무</option>
                        <option value="remote">재택 근무</option>
                        <option value="vacation">휴가 중</option>
                        <option value="meeting">미팅 중</option>
                        <option value="away">자리 비움</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>