<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidemenu2">
    <div class="sidemenu2_title">이메일</div>
    <div id="mail-sidebar-header">
        <button id="mail-write-button">메일 쓰기</button>
        <button id="mail-write-button-to-me">내게 쓰기</button>
        <div id="information">


            <div id="noread">
                <div id="noread-count">24</div>
                <div>안읽음</div>
            </div>

            <div id="important">
                    <img id="inportant-icon" src="/images/mail/star.png" width="20px" height="20px">
                    <div>중요</div>
                </div>

            <div id="trash">
                    <img id="trash-icon" src="/images/mail/trash.png" width="20px" height="20px">
                    <div>휴지통</div>
                </div>
        </div>
    </div>
    <ul>
        <li>
            <div>임시 보관</div>
        </li>
        <li>
            <div>휴지통</div>
        </li>
        <li>
            <div>안읽은 메일</div>
        </li>
        <li>
            <div>예약한 메일</div>
        </li>
        <li>
            <div>중요한 메일</div>
        </li>
    </ul>
</div>
</body>
</html>